.vagas{
    display: flex;
    flex-direction: row;
    gap: 15px;
}
label{
    background-color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.imgCar{
    background-color: green;
    cursor: pointer;
}
.imgCar:hover{
    background-color: red
}
.ativo {
    background-color: red !important;
}