.vagas{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}
label{
    background-color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.imgCar{
    background-color: green;
    cursor: pointer;
    margin-top: 20px;
    width: 60px;
    height: 60px;
}
.imgCar:hover{
    background-color: red
}
.ativo {
    background-color: red !important;
}
.texth1{
    display: flex;
    justify-content: center;
}
.rows{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
}
.rownumber{
    margin-top: 20px;
    width: 60px;
    height: 60px;
    text-align: center;
    justify-content: center;
}
.mainc{
    display: flex;
    justify-content: center;
    gap: 20px;
}
#invisible{
    visibility:hidden;
}